{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <h1 class="black-text ml-2 mt-5 text-left ">All Products</h1>
    <hr class="line text-left w-25">
 </div>
    <div class="row col-10 mx-auto ">
    <hr>
        <div class="col-lg-3 col-md-5 col-sm-8">
            <h4>Mens</h4>
            <hr>
            <ul class="list-unstyled list-inline inline ">
                <li>
                    <a href="{% url 'products' %}?category=mens_footwear" class=" cat-btn list-inline-item border border-2  mr-3">Footwear</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=mens_shorts" class=" cat-btnlist-inline-item  mr-3">Shorts</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=mens_tshirts" class=" cat-btnlist-inline-item  mr-3">T-Shirts</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=mens_jackets" class=" cat-btn list-inline-item ">Jackets & Hoodies</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=mens_footwear,mens_shorts,mens_tshirts,mens_jackets" class=" cat-btnlist-inline-item ">All Products</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-8">
            <h4>Womens</h4>
            <hr>
            <ul class="list-unstyled list-inline inline ">
                <li>
                    <a href="{% url 'products' %}?category=womens_footwear" class=" cat-btn list-inline-item border border-2  mr-3">Footwear</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=womens_shorts" class=" cat-btnlist-inline-item  mr-3">Shorts</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=womens_tshirts" class=" cat-btnlist-inline-item  mr-3">T-Shirts</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=womens_jackets" class=" cat-btnlist-inline-item ">Jackets & Hoodies</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=womens_footwear,womens_shorts,womens_tshirts,womens_jackets" class=" cat-btnlist-inline-item ">All Products</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-8">
            <h4>Sports Equipment</h4>
            <hr>
            <ul class="list-unstyled list-inline inline ">
                <li>
                    <a href="{% url 'products' %}?category=fitness_equipment" class=" cat-btn list-inline-item border border-2  mr-3">Fitness Equipment</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=gym_accessories" class=" cat-btnlist-inline-item  mr-3">Gym Accessories</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=gym_equipment" class=" cat-btnlist-inline-item  mr-3">Gym Equipment</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=fitness_equipment,gym_equipment,gym_equipment" class=" cat-btn list-inline-item  mr-3">All Products</a>
                </li>
            </ul></div>
        <div class="col-lg-3 col-md-5 col-sm-8">
            <h4>Nutrition</h4>
            <hr>
            <ul class="list-unstyled list-inline inline ">
                <li>
                    <a href="{% url 'products' %}?category=sports_nutrition" class=" cat-btn list-inline-item border border-2  mr-3">Sports Nutrition</a>
                </li>
                
            </ul>
        </div>
        <div class="col-lg-3 col-md-5 col-sm-8">
            <h4>All Products</h4>
            <hr>
            <ul class="list-unstyled list-inline inline ">
                <li>
                    <a href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=nike">By Brand</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                </li>
                <li>
                    <a href="{% url 'products' %}?category=mens_footwear,mens_shorts,mens_tshirts,mens_jackets,womens_footwear,womens_shorts,womens_tshirts,womens_jackets,sports_nutrition,fitness_equipment,gym_equipment,gym_equipment">All Products</a>
                </li>
            </ul></div>
    </div>

    <div class="row">
        <div class="col text-center mt-3">
            <h2>Current Categories</h2>
            {% for c in current_categories %}
            <a href="{% url 'products' %}?category={{ c.name }}" class="category-badge text-decoration-none">
                <span class="p-2 mt-2 badge badge-white black-text rounded-0 border border-dark"> {{ c.friendly_name }}</span>
            </a>
            {% endfor %}
        </div>
    </div>

 
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>


  
   <div class="row mt-5 pt-5">
        <div class="product-container col-10 offset-1 mb-5">
            <div class="row mt-1 mb-2"></div>
            <div class="row h-75 ">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 shadow-lg bg-white rounded-0">
                            {% if product.image %}
                            <div class="inner px-3 py-3 ">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top  w-auto img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                </div>
                            {% else %}
                                <a href="">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                            <hr>
                                
                                {% if product.rating %}
                                    <div class="rating text-right">
                                        <small class="text-muted text-right mb-1"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                                    </div>
                                {% if product.category %}
                                <div class="rating text-right">
                                    <a href="{% url 'products' %}?category={{ product.category.name }}"></a>
                                        <small class="text-muted text-right mb-1"><i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }} </small>
                                    {% else %}
                                        <small class="text-muted">No Category</small>
                                    {% endif %}

                                </div>
                            
                                <p class="mb-0 ">
                                    <span class="font-weight-bold ">
                                    Product Sku:
                                    </span>
                                    {{ product.sku|title }}
                                </p>
                                <p class="mb-0"><span class="font-weight-bold"> Product Name:</span> {{ product.name|title }}</p>
                                <p class="mb-0"><span class="font-weight-bold"> Product Brand:</span>  {{ product.brand|title }}</p>
                                
                                <p class="mb-0"><span class="font-weight-bold"> Recommended For:</span> {{ product.recommeded_for|title }}</p>
                            <hr>
                            </div>
                            <div class="card-footer bg-white pb-4 pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        <!-- {% if product.rating %}
                                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating</small>
                                        {% endif %} -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                        
                        </div>
                    {% endif %}                        
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                         
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                           
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5 pb-3">
                           
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}